<a href="/">Home</a>
<div class="container">

    <div class="row">
        <h2>Welcome to DigiLanguages</h2>
        <a ng-click="clicked = true" class="btn btn-primary">Student</a>
        <a ng-click="clicked = true" class="btn btn-success">Teacher</a>
    </div>

    <div class="row" ng-show="clicked">
        <a href="/categories" class="btn success">Wp 1</a>
        <a href="/categories" class="btn success">Wp 2</a>
        <a href="/categories" class="btn success">Wp 3</a>
    </div>

</div>