<a href="/">Home</a> / <a href="/categories">Categories</a> / Sub-categories</a>

<div class="jumbotron">
    <h1>Digi Languages</h1>
    <h2 style="font-size:30px; margin-top:40px;">Student</h2>
</div>

<div style="position: fixed; right: 100px; margin-top:-200px">
    <div class="btn-group">
        <button type="button" class="btn btn-primary">Work Package 1</button>
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#">Work Package 2</a></li>
            <li><a href="#">Work Package 3</a></li>
        </ul>
    </div>
</div>

<div class="">
    <div class="btn-group">
        <button type="button" class="btn btn-info">Category 1</button>
        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#">Category 2</a></li>
            <li><a href="#">Category 3</a></li>
        </ul>
    </div>

    <div class="btn-group">
        <button type="button" class="btn btn-success">Sub-category 1</button>
        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#">Sub-category 2</a></li>
            <li><a href="#">Sub-category 3</a></li>
        </ul>
    </div>
</div>


<div>
    <h1>SubCategory Description </h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc egestas non lorem vel efficitur. Mauris facilisis volutpat
        tortor, eget sagittis mauris interdum eget. Sed pulvinar in tortor ut aliquam. Proin a odio interdum, mollis nisl
        at, egestas eros. Ut scelerisque mauris non sollicitudin varius. Suspendisse eget interdum justo. Donec ac mattis
        tellus. Pellentesque auctor, nisi at consequat tristique, orci ipsum luctus lacus, </p>
</div>

<div>

    <div class="list-group">
        <button type="button" class="list-group-item">Cras justo odio</button>
        <button type="button" class="list-group-item">Dapibus ac facilisis in</button>
        <button type="button" class="list-group-item">Morbi leo risus</button>
        <button type="button" class="list-group-item">Porta ac consectetur ac</button>
        <button type="button" class="list-group-item">Vestibulum at eros</button>
    </div>
    
    <a href="">Add</a>

</div>